<body> 
  <div class="container-fluid">
    <div class ="main">
      
        <h2 class="text-center">About</h2><br><br><br><br><br><br><br>
             
        
        <br><p>Welcome to our new site. We wanted to create a place where the competition
        of boardgames could live. You are all keeping score, We want to make it better!
        </p>
        
    </div>
   </div> 
</body> 