<div class="container">
  
    <body> 
      <h1>About</h1><br><br><br><br><br><br><br>
           
      
      <br><p>Welcome to our new site. We wanted to create a place where the competition
      of boardgames could live. You are all keeping score, We want to make it better!
      </p>
    </body> 
  
</div>