<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title>MBGDB</title>
  <link href="https://fonts.googleapis.com/css?family=Trade+Winds&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="IndexStyle.css">
 </head>
<body>
    <div class = "sidenav">
      <img class ="game" src="https://mbgdb.s3.us-east-2.amazonaws.com/blur-board-game-business-challenge-278918.jpg" alt="This will be deleted">
      <form>
          <label for="UserName">MBGDB ID</label>
          <input type = "text" placeholder="Enter MBGDB User Name"><br>
          <label for='password'>Password</label>
          <input type = "password" placeholder="Enter Password"><br><br>
          <input type = "submit" id="formsubmit" name="formsubmit">
          <button type="button">Join For Free!</button>
      </form> 
      <br><br>
      <ul>
          <li><a href=index.html>Home</a></li>
          <li><a href=page3.asp>Your Collection</a></li>
          <li><a href=page4.asp>Discover New Games</a></li>
          <li><a href=page5.asp>The Gamer Blog</a></li>
          <li><a href=page5.asp>About Us</a></li>

      </ul>
    </div class ="sidenav">
    <header>
      <h1>My Board Game Database</h1>
      <h3>Build, Track, and Share Your Collection</h3>
    </header> <br><br><br>
  <div>
     <p>Welcome to your one stop shop to track the games you have, the games you want, and the games you never knew existed. It's free to join our community. Take a look around and let us know what you think!</P>
  </div>
  <h2>Spotlight Games</h2> 
    <div class = "boxes"> 
                   
            <div id = "leftbox"> 
               <img class ="game" src="https://mbgdb.s3.us-east-2.amazonaws.com/blur-board-game-business-challenge-278918.jpg" alt="This will be deleted">
               <h3>Settlers of Catan</h3> 
                <p>This is test. Test test testingly test. Short, sweet, too the point.
                Will eventually have a link.</p>
            </div>  
              
            <div id = "middlebox"> 
               <img class ="game" src="https://mbgdb.s3.us-east-2.amazonaws.com/blur-board-game-business-challenge-278918.jpg" alt="This will be deleted">
               <h3>Exploding Kittens</h3> 
                <p>This is test. Test test testingly test. Short, sweet, too the point.
                Will eventually have a link.</p>
            </div> 
              
            <div id = "rightbox"> 
               <img class ="game" src="https://mbgdb.s3.us-east-2.amazonaws.com/blur-board-game-business-challenge-278918.jpg" alt="This will be deleted">
                <h3>Sparkle Kitty</h3> 
                <p>This is test. Test test testingly test. Short, sweet, too the point.
                Will eventually have a link.</p> 
            </div> 
  </div class="boxes">

</body>
</html>