<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title>MBGDB</title>
 </head>
 <body>   
   <div class="container-fluid">  
        <div class = "main"> 
          
             <div>
                 <h3>Build, Track, and Share Your Collection</h3>
                 <p>Welcome to your one stop shop to track the games you have, the games you want, and the games you never knew existed. It's free to join our community. Take a look around and let us know what you think!</P>
              </div>
              <div>
                  <h2>Spotlight Games</h2> 
                    <div class = "boxes"> 
                               
                        <div id = "leftbox"> 
                           <img class ="game" src="https://mbgdb.s3.us-east-2.amazonaws.com/blur-board-game-business-challenge-278918.jpg" alt="This will be deleted">
                           <h3>Settlers of Catan</h3> 
                            <p>This is test. Test test testingly test. Short, sweet, too the point.
                            Will eventually have a link.</p>
                        </div>  
                          
                        <div id = "middlebox"> 
                           <img class ="game" src="https://mbgdb.s3.us-east-2.amazonaws.com/blur-board-game-business-challenge-278918.jpg" alt="This will be deleted">
                           <h3>Exploding Kittens</h3> 
                            <p>This is test. Test test testingly test. Short, sweet, too the point.
                            Will eventually have a link.</p>
                        </div> 
                          
                        <div id = "rightbox"> 
                           <img class ="game" src="https://mbgdb.s3.us-east-2.amazonaws.com/blur-board-game-business-challenge-278918.jpg" alt="This will be deleted">
                            <h3>Sparkle Kitty</h3> 
                            <p>This is test. Test test testingly test. Short, sweet, too the point.
                            Will eventually have a link.</p> 
                        </div> 
                  </div class="boxes">
           
        </div>
    </div>
  </body>
</html>