 <body>   
   <div class="container">  
        <div class = "main"> 
          
             <div>
                 <h3>Build, Track, and Share Your Collection</h3>
                 <p>Welcome to your one stop shop to track the games you have, the games you want, and the games you never knew existed. It's free to join our community. Take a look around and let us know what you think!</P>
              </div>
                <div>
                  <div class=".col-xs-18 .col-sm-12"> 
                    </div>
                    <h2>Spotlight Games</h2> 
                        <div class= "row" class="text-center">
                           <div class=".col-xs-6 .col-sm-4">   
                              <div class = "spotbox"> 
                                 <img class ="game" src="https://mbgdb.s3.us-east-2.amazonaws.com/blur-board-game-business-challenge-278918.jpg" alt="This will be deleted">
                                 <h3>Settlers of Catan</h3> 
                                  <p>This is test. Test test testingly test. Short, sweet, too the point.
                                  Will eventually have a link.</p>
                              </div>  
                            </div>
                           <div class=".col-xs-6 .col-sm-4">    
                              <div class = "spotbox"> 
                                 <img class ="game" src="https://mbgdb.s3.us-east-2.amazonaws.com/blur-board-game-business-challenge-278918.jpg" alt="This will be deleted">
                                 <h3>Exploding Kittens</h3> 
                                  <p>This is test. Test test testingly test. Short, sweet, too the point.
                                  Will eventually have a link.</p>
                              </div> 
                            </div>
                            
                          <div class=".col-xs-6 .col-sm-4">    
                            <div class = "spotbox"> 
                               <img class ="game" src="https://mbgdb.s3.us-east-2.amazonaws.com/blur-board-game-business-challenge-278918.jpg" alt="This will be deleted">
                                <h3>Sparkle Kitty</h3> 
                                <p>This is test. Test test testingly test. Short, sweet, too the point.
                                Will eventually have a link.</p> 
                            </div> 
                          </div>
                        </div>
                      </div>
                    
           
        </div>
  </body>
