@import "font-awesome-sprockets";
@import "font-awesome";
@import 'bootstrap-sprockets';
@import 'bootstrap';


  

body{
background:#708090;
font-family: 'Trade Winds'
}

header{
  height:150px;
  border-radius:12px;
  box-shadow: 4px 4px gray;
  margin: 0 auto;
}
h1{
  font-family: 'Trade Winds';
  font-weight: bold;
  text-align: center;
  font-size: 50px;
  font-stretch: extra-expanded;
  
}

h2{font-family: 'Trade Winds',Charcoal,sans-serif;
  font-weight: bold;
  text-align: center;
  font-stretch: extra-expanded;

}
h3{
  font-family: "Arial Black",Gadget,sans-serif;
  padding-top: 0px;
  text-align:center;
    
}
.sidenav  {
 height: 100%; 
  width: 0; 
  position: fixed; 
  z-index: 1; 
  top: 0; 
  left: 0;
  background-color: #111; 
  overflow-x: hidden; 
  padding-top: 20px;
  text-align: center
}

.sidenav .closebth{
  position: absolute;
  top:0;
  right:25px;
  font-size: 36px;
  }

#main {
  transition:margin-left .5s;
  padding: 16px;
  margin-left:0;
}

button {
  border-radius:12px;
}

input[type="submit"]{
  border-radius:12px;
}

input[type="text"]{
  border-radius:12px;
  text-align: center
}

input[type="password"]{
  border-radius:12px;
  text-align: center
}

img {
  width:190px;
  border:15px;
  border-radius:12px;
  border-color: red
  }

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow:hidden;
  background-color: #333;
  text-align: center;
}

li {float: left;
text-align: center;
width:300px;
color:white;
display:inline-block;}

li a {
  display: block;
  text-align:center;
  padding: 14px 16px;
  background-color: #333;
  text-decoration:none;
}

li a:hover {
  background-color: green;
  color: inherit;
  }

li a.active {
  background-color: blue;
  color: white;
  width:200px;
  text-align:center;
}

a {
  color:white;
}

.spotlight {
  columns: 3;
}

.boxes {
  width: 1000px;
  height:190px;
  padding-top:20px;
  padding-left:15px;
  padding-right:15px;
  text-align: center
  }

#leftbox{
  float:left;
  width:300px;
  height:300px;
  border: solid black;
  text-align: center

}
#middlebox{
  float:left;
  width:300px;
  height:300px;
  border: solid black;
  margin-left: 50px;
  margin-right:10px;
  text-align: center;
}

#rightbox{
  float:right;
  width:300px;
  height:300px;
  border: solid black;
  text-align:center

}

.wrapper{
  display:flex;
  width:100%;
  align-items:stretch;
}